.intro {
  height: 60%;
}

.form-outline .form-control:focus ~ .form-notch .form-notch-leading {
  border-top: 0.13rem solid #b80f22;
  border-bottom: 0.13rem solid #b80f22;
  border-left: 0.13rem solid #b80f22;
}
.form-outline .form-control:focus ~ .form-notch .form-notch-middle {
  border-color: #b80f22;
}
.form-outline .form-control:focus ~ .form-notch .form-notch-trailing {
  border-top: 0.125rem solid #b80f22;
  border-bottom: 0.125rem solid #b80f22;
  border-right: 0.125rem solid #b80f22;
}
.form-outline .form-control:focus ~ .form-label {
  color: #b80f22;
}
.autocomplete-input.focused ~ .form-notch .form-notch-leading {
  border-top: 2px solid #b80f22;
  border-bottom: 2px solid #b80f22;
  border-left: 2px solid #b80f22;
  transition: all 0.2s linear;
}
.autocomplete-input.focused ~ .form-notch .form-notch-middle {
  border-color: #b80f22;
}
.autocomplete-input.focused ~ .form-notch .form-notch-trailing {
  border-color: #b80f22;
}
.autocomplete-input.focused ~ .autocomplete-label {
  color: #b80f22;
}

.navbar-brand {
  font-size: 20px;
  color: #000;
  font-weight: bold;
}

#testimonial .top-rutas {
  background: #f1f1f1;
  padding: 50px 0 30px 0;
  text-align: center;
  margin-top: 40px;
}
