@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="login-box">
    <img class="avatar" src="~/_content/Identity/images/RA.png" alt="Logo rutas de Aprendizaje">

    <form id="account" method="post">
        <h1>Inicio de Sesión</h1>

        <div asp-validation-summary="All" class="text-danger"></div>
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" type="text" placeholder="Ingrese Usuario" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>

        <label asp-for="Input.Password">Contraseña</label>
        <input asp-for="Input.Password" type="password" placeholder="Ingrese Contraseña" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
        @* <div class="form-group">
            <div class="checkbox">
            <label asp-for="Input.RememberMe">
            <input asp-for="Input.RememberMe" />
            @Html.DisplayNameFor(m => m.Input.RememberMe)
            </label>
            </div>
            </div> *@

        <input type="submit" value="Iniciar Sesión">


        <a id="forgot-password" asp-page="./ForgotPassword">Olvidaste tu contraseña?</a>

        @* <p>
            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
            </p>
            <p>
            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
            </p> *@
    </form>
</div>


@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
